<div id="main" class="<%= item.layout %>" itemscope itemprop="blogPost">
  <% if (page.layout=='photo' && item.photos && item.photos.length){ %>
    <%- partial('gallery') %>
  <% } %>
	<article itemprop="articleBody"> 
		<%- partial('header') %>
	<div class="article-content">
		<% if( table&&(item.toc !== false) && theme.toc.article){ %>
		<div id="toc" class="toc-article">
			<strong class="toc-title"><%= __('contents') %></strong>
		<% if(item.list_number == false) {%>
		<%- toc(item.content,{list_number:false}) %>
		<% }else{ %>
			<%- toc(item.content) %>
		<% } %>
		</div>
		<% } %>
		<%- item.content %> 
		<div id="gitalk-container"></div>
		<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
		<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
		<script>
		const gitalk = new Gitalk({
			clientID: '6cff19f118e9d230a64d',
			clientSecret: '0082dab90ba29561e3cf52be23e79ec34367c29f',
			repo: 'comments',
			owner: 'brightphone',
			admin: ['brightphone'],
			id: "{{ page.url | prepend: site.host_url }}",
			distractionFreeMode: false
		});
		gitalk.render('gitalk-container')
		</script> 
	</div>
		<%- partial('footer') %>   	       
	</article>
	<%- partial('pagination') %>
	<%- partial('comment') %>
</div>  